[discord]

webhook=https://discord.com/api/webhooks/some_webhook_url_here

channel_id=1234567890_your_channel_id_number_here


[matrix]

webhook=https://matrix.drpranavmishra.com/hookshot/webhooks/some-webhook-code-here